.homeBackground{
    width: 100%;
    min-height: 710px;
    background-image: url(https://media.giphy.com/media/xUOxeTDAS04N7lRrHy/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}