.homeBackground{
    width: 100%;
    min-height: 710px;
    background-image: url(https://media.giphy.com/media/xUOxeTDAS04N7lRrHy/giphy.gif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.welcomeBox{
    width: 500px;
    position: absolute;
    top: 200px;
    left: 300px;
    border: 1px solid #d4d0fb;
    background-color: #883ab78a;
    color: #d4d0fb;
}

.welcomeTitle{
    margin: 20px;
    margin-bottom: 0;
    font-family: 'Black Ops One', cursive;
    font-size: 60px;
    text-decoration: none;
}

.welcomeInfoBox{
    margin: 10px;
    margin-top: 0;
    padding: 10px;
    font-size: 30px; 
}

.homeSignUpButton{
    margin: 10px;
    margin-left: 0;
    width: 122px;
    background-color: none;
    border: none;   
}

.homeSignUpButtonText{
    font-size: 30px;
    text-decoration: none;
    color: #FFC107;
    transition: .2s ease-in-out;
}

.homeSignUpButtonText:hover{
    color: firebrick;
    cursor: url('../../assets/love_email.png'), auto;
}

.homeLoginBox{
    width: 150px;
    padding: 10px;
    position: absolute;
    left: 760px;
    top: 290px;
    border: 1px solid #d4d0fb;
    color: #d4d0fb;
    font-size: 30px;

    background: linear-gradient(270deg, #ffe300, #ff00f5, #0027ff);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

