.viewPostBox{
    margin: 0 auto;
    margin-top: 100px;
    width: 75%;

    display: flex;
    flex-wrap: wrap;
}

.viewPostImageContainer{
    flex: 1;
    position: relative;
}

.viewPostInfoContainer{
    flex: 1;
    padding: 0 20px;
    font-family: serif;
}

.viewPostUsername{
    color: black;
    margin-bottom: 10px;
}

.viewPostUsername:hover{
    color: firebrick;
}

.viewPostTitle{
    font-size: 40px;
    margin: 0;
}

.viewPostCaption{
    font-size: 25px;
    margin: 0;
}

.viewPostTagContainer{
    position: absolute;
    bottom: -66px;
    left: 0;
    height: 100px;
}