.signupBox{
    margin-bottom: 200px;
}

.signupFlex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px;
}

.signupRequired{
    color: firebrick;
    font-size: 25px;
}

.signupInput{
    margin-left: 10px;
    padding: 10px;
    color: #E0DED4;
    border: 0;
    border-bottom: 1px solid #d3d0fb;
    font-size: 25px;
    outline-color: #d3d0fb;
    background-color: #d3d0fb00;
    font-family: serif;
    background-color: transparent;
}

.signupInput:-webkit-autofill,
.signupInput:-webkit-autofill:focus,
.signupInput:-webkit-autofill:hover,
.signupInput:-webkit-autofill:active {
    -webkit-transition-delay: 99999s;
}

.signupInput::placeholder{
    color: #E0DED4;
    background-color: #d3d0fb00;
}

.signupInput:-ms-input-placeholder{
    color: #E0DED4;
    background-color: #d3d0fb00;
}

.signupButton{
    background: 0;
    border: 0;
    font-family: serif;
    padding-left: 0;
}

.signupError{
   padding-left: 20px;
}
