.searchResultHeaderBox{
    position: fixed;
    top: 130px;
    left: 335px;
}

.searchResultHeader{
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
    font-weight: bold;
    color: fuchsia;
}

.searchResultsBox{
    width: 55%;
    margin: 0 auto;
    margin-top: 200px;
}

.searchNoResults{
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
    font-weight: bold;
    color: fuchsia;
}

.searchUserBox{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.searchUserImgBox{
    width: 66px;
    height: 66px;
    overflow: hidden;
    margin-right: 66px;
}

.searchUserImg{
    width: 90px;
}

.searchUserInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
    border: 1px solid fuchsia;

    font-family: sans-serif;
    font-size: 10px;
    color: fuchsia;
}

.searchUsername {
    margin-right: 30px;
}

.searchSign {
    margin-left: 30px;
}

.searchFollow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    height: 66px;
    padding: 10px;
    margin-left: 66px;

    border: 1px solid fuchsia;

    font-family: sans-serif;
    font-size: 10px;
    color: fuchsia;
    
}