.searchBar{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 570px;

    width: 380px;
    height: 66px;
    padding-left: 10px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    border: 1px solid firebrick;
    border-left: 0;
    outline-color: firebrick;
    background-color: rgba(255, 255, 255, 0);
    
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
    font-weight: bold;
    color: fuchsia;
}